<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/loginForm.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="login">
        <header>
            <img :src="title.image">
        </header>

        <main>
            <div class="login_container">
                <form>
                    <div class="loginForm">
                        <input v-model="form.username" type="text"  class="form-control" id="username" name="username"  placeholder="전화번호, 사용자 이름 또는 이메일" autofocus>
                        <input v-model="form.password" type="password" class="form-control" id="password"  name="password"  placeholder="비밀번호">
                        <button type="submit" class="submit_button" @click="clickLoginbtn">로그인</button>
                        <p class="line">또는</p>

                        <p><a href="#"><i class="fa fa-comments"></i>카카오톡으로 로그인</a></p>
                        <p>계정이 없으신가요?<a href="joinForm.html"><strong>가입하기</strong></a></p>
                        <p>비밀번호를 잊으셨나요?<a href="loginCheckForm.html"><strong>비밀번호 찾기</strong></a></p>
                    </div>
               </form>
            </div>

        </main>


        <footer class="footer">
          <p>&copy; 2020 OUTSTARGRAM FROM EUNSOL KIM</p>
        </footer>
    </div>

    <script type="text/javascript">
        var loginFrom = new Vue({
            el: '#login',
            data: {
                title: {
                    image: "../assets/img/logo.png",
                    login: {
                        username: '',
                        password: ''
                    }
                },
                form: {
                    username: '',
                    password: ''
                }
            },
            methods: {
                clickLoginbtn: function () {
                    alert("!로그인합니다!");
                }
            }

        });



    </script>
</body>
</html>